body {
    background-color: #4B3050;
}


.box {
    position: absolute;
    width: 600px;
    height: 171px;
    left: 564px;
    top: 254px;

    background: #F9E3FF;
    border: 1px solid #000000;
    border-radius: 10px;
}

